.header {
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 216, 216);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.middle-section {
    display:flex;
    flex: 1;
    align-items: center;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    margin-top: 8px;
    height: 40px
}

.search-bar {
    display: flex;
    flex: 1;
    height: 32px;
    font-size: 16px;
    padding-left: 10px;
    width: 0px;
}

.search-bar::placeholder {
    font-size: 16px;
    color: rgb(162, 161, 161);
    padding-left: 10px;
    border-color: rgb(211, 209, 209);
    border-radius: 1px;
    height: 36px;
}

.search-button {
    height: 38px;
    width: 66px;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 6px;
    background-color: rgb(247, 243, 243);
    border-width: 1px;
    border-style: solid;
    border-color:rgb(192, 192, 192);
    border-radius: 3px;
    margin-left: -1;
    margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon,
.apps-icon,
.tool-tip-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button .tool-tip,
.voice-search-button .tool-tip,
.upload-icon .tool-tip,
.apps-icon .tool-tip,
.tool-tip-container .tool-tip {
    position: absolute;
    background-color: rgb(114, 114, 114);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    bottom: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    transition-timing-function: ease
    pointer-events: none;
}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upload-icon:hover .tool-tip,
.apps-icon:hover .tool-tip,
.tool-tip-container:hover .tool-tip {
    opacity: 1;
}

.search-icon {
    height: 24px;
    margin-right: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 246, 246);
}

.voice-search-icon {
    height: 24px;
    background-color: rgb(251, 251, 251);
}

.right-section {
    width: 180px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.apps-icon {
    height: ;eight: 24px;
}

.notifications-icon {
    height: 24px
}

.notifications-count {
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: rgb(207, 6, 6);
    color: white;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.my-channel-pic {
    height: 36px;
    border-radius: 16px;
    cursor: pointer;
}

